{{ define "header" }}
<html>
	<head>
		<link rel="stylesheet" href="/ui/styles/default.css">
	</head>
	<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Venera</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/" accesskey="1" title="">Задачи</a></li>
                    <li><a href="/task/new/tinder" accesskey="2">Поиск в Tinder</a></li>
                    <li><a href="/task/new/vk" accesskey="3">Поиск в VK</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="header-featured">
	</div>

	<div id="banner-wrapper">
		<div id="banner" class="container">
			<h2>Если у вас одновременно есть свобода и любовь</h2>
			<span>вам больше ничего не нужно. У вас все есть - то, ради чего дана жизнь. (с) </span>
		</div>
	</div>
	
	<div id="wrapper">
		<div id="page" class="container">
			<div id="content">
{{ end }}