{{ define "item" }}
<tr>
    <td><img width="90%" heigth="5%" src="{{ index $.Person.Photo 0 }}"></td>
    <td valign="top">
        <table>
        <tr><td><a href="/result/{{$.ID}}"><h4>{{ $.Person.Name }}</h4></a></td></tr>
        <tr><td><u>Age:</u> {{ $.Person.Age }}</td></tr>
        <tr><td><u>Rating:</u> {{ $.Rating }}</td></tr>
        {{ if ne $.Person.Job "" }}
        <tr><td><u>Job:</u> {{ $.Person.Job }}</td></tr>
        {{ end }}
        {{ if ne $.Person.School "" }}
        <tr><td><u>School:</u> {{ $.Person.School }}</td></tr>
        {{ end }}
        {{ if ne $.Person.Body 0 }}
        <tr><td><u>Body:</u> {{ body $.Person.Body }}</td></tr>
        {{ end }}
        {{ if ne $.Person.Alco 0 }}
        <tr><td><u>Alco:</u> {{ relation $.Person.Alco }}</td></tr>
        {{ end }}
        {{ if ne $.Person.Smoke 0 }}
        <tr><td><u>Smoke:</u> {{ relation $.Person.Smoke }}</td></tr>
        {{ end }}
        <tr><td><u>Description:</u> {{ highlight $.Person.Bio $.Person.BioMatches }}</td></tr>
        <tr><td>
                {{range $i, $foto := $.Person.Photo }}
                <a href="{{ $foto }}">Foto #{{ $i }} </a>
                {{ end }}
        </td></tr>
        </table>
        <table>
                <tr>
                    <td><a class="button button-small" href="/result/{{$.ID}}/delete">DELETE</a></td>
                    {{ if eq $.Favourite false }}
                    <td><a class="button button-small" href="/result/{{$.ID}}/favour">FAVOUR</a></td>
                    {{ end }}
                    {{ range $i, $a := $.Actions }}
                    <td><a  target="_blank" rel="noopener noreferrer" class="button button-small" href="{{ $a.Link }}">{{ $a.Title }}</a></td>
                    {{ end }}
                </tr>
        </table>
    </td>
</tr>
{{ end }}