{{ define "new.tinder" }}
{{ template "header" 1 }}
<form action="/task/new/tinder" method="POST">
    <table>
    <tr><td>User</td><td><input type="text" name="user"></td></tr>
    <tr><td>Password</td><td><input type="password" name="password"></td></tr>
    <tr><td>Token</td><td><input type="text" name="token">
        <a href="https://www.facebook.com/v2.6/dialog/oauth?redirect_uri=fb464891386855067%3A%2F%2Fauthorize%2F&scope=user_birthday,user_photos,user_education_history,email,user_relationship_details,user_friends,user_work_history,user_likes&response_type=token%2Csigned_request&client_id=464891386855067">Get Token</a></td></tr>
    
    <tr><td>Age</td><td><input type="text" name="ageFrom"> - <input type="text" name="ageTo"></td></tr>
    <tr><td colspan="2"> Likes<textarea name="likes" rows="5" cols="100"></textarea></td></tr>
    <tr><td colspan="2"> Dislikes<textarea name="dislikes" rows="5" cols="100"></textarea></td></tr>
    <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
    </table>
</form>
{{ template "footer" }}
{{ end }}